/*Importing fonts from google fonts*/

@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@600&display=swap');

html,
body,
#root,
.app,

.content {
  height: 100%;
  width: 100%;
  font-family: "Source Sans Pro", sans-serif ;
}

.app {
  display: flex;
  position: relative;
}

::-webkit-scrollbar {
  width: 12px;
}


/*--------------------------- Styles Scrollbar ----------------------------*/

/* Styles track */
::-webktit-scrollbar-track {
  background: #e0e0e0
}

/* Sets handle */
::webkit-scrollbar-thumb {
  background: #888;
}

/* Sets handle on hover */
::-webkit-scrollbar-track:hover {
  background: #555;
}